[submodule "rails_test_app"]
	path = rails_test_app
	url = https://github.com/4rtific3/rails_test_app
[submodule "Udemy/Rails/rails_blog_app"]
	path = Udemy/Rails/rails_blog_app
	url = https://github.com/4rtific3/rails_blog_app
[submodule "Udemy/Rails/rails_messaging_app"]
	path = Udemy/Rails/rails_messaging_app
	url = https://github.com/4rtific3/rails_messaging_app
[submodule "finance_tracker"]
	path = finance_tracker
	url = https://github.com/4rtific3/finance_tracker
[submodule "Udemy/Rails/finance_tracker"]
	path = Udemy/Rails/finance_tracker
	url = https://github.com/4rtific3/finance_tracker
